<section
  class="create-container pointer-events-none absolute inset-0 size-full bg-black/70 opacity-0 backdrop-blur-sm transition-opacity"
>
  <div class="flex h-full w-full items-center justify-center">
    <form
      action="<%= createPath %>"
      method="POST"
      <% if (locals.hasFileInput) { %>
        enctype="multipart/form-data"
      <% } %>
      class="create-popup flex w-[400px] translate-y-8 scale-75 flex-col rounded-md border-1 border-zinc-700 bg-zinc-800 p-4 transition-transform duration-200"
    >
      <div class="mb-2 flex items-center justify-between">
        <h3 class="text-lg font-semibold">New <%= createTitle %></h3>
        <button class="close-create-button" aria-label="Close" type="button">
          <i
            class="size-5 cursor-pointer rounded-md hover:text-zinc-500"
            data-lucide="x"
          ></i>
        </button>
      </div>
      <% if (locals.hasFileInput) { %>
      <input
        aria-label="Upload File"
        type="file"
        name="uploadedFile"
        accept="*"
        class="mt-2 w-full rounded-md border-1 border-zinc-700 bg-zinc-900 p-2 text-sm placeholder:text-zinc-500 focus:border-amber-500 focus:outline-none"
      />
      <div id="file-name-input" class="my-3 hidden">
        <label class="text-zinc-200" for="file-name">File name</label>
        <input
          name="file-name"
          id="file-name"
          aria-label="File Name"
          placeholder="File Name"
          type="text"
          class="mt-2 w-full rounded-md border-1 border-zinc-700 bg-zinc-900 p-2 text-sm text-white placeholder:text-zinc-500 focus:border-amber-500 focus:outline-none"
        />
      </div>
      <% } else { %>
      <input
        aria-label="<%= `${createName} Name` %>"
        placeholder="<%= `${createTitle} Name` %>"
        name="<%= `${createName}Name`%>"
        id="<%= `${createName}Name` %>"
        type="text"
        class="mt-2 w-full rounded-md border-1 border-zinc-700 bg-zinc-900 p-2 text-sm text-white placeholder:text-zinc-500 focus:border-amber-500 focus:outline-none"
      />
      <% } %>
      <div class="mt-4 flex justify-end">
        <button
          type="submit"
          class="cursor-pointer rounded-md bg-amber-500 px-4 py-2 text-sm font-semibold text-white hover:bg-amber-600"
        >
          <%= buttonName %>
        </button>
      </div>
    </form>
  </div>
</section>
