<div
  data-entity-id="<%= entity.id %>"
  data-entity-type="<%= entity.type %>"
  <% if (entity.type === "file") { %>
    data-entity-extension="<%= entity.file.extension %>"
    data-entity-size="<%= entity.file.size %>"
    data-entity-storage-path="<%= entity.file.storagePath %>"
    data-entity-icon="<%= entity.icon %>"
  <% } %>
  data-parent-folder-id="<%= parentFolderId %>"
  class="entity-item group relative"
>
  <div
    class="more-options-container absolute top-1 right-1 flex gap-2 opacity-0 group-hover:opacity-100"
  >
    <button
      class="more-options-button relative p-1 hover:brightness-50"
      title="More options"
    >
      <i class="size-6" data-lucide="ellipsis" title="More options"></i>
    </button>
    <%- include("moreModal.ejs") %>
  </div>

  <% if (entity.type === "folder") { %>
  <a
    class="entity-container flex w-[130px] cursor-default flex-col items-center rounded-md p-2 group-hover:bg-zinc-900 active:bg-zinc-700"
    href="/folder/<%= entity.id %>"
  >
    <%- include(`entity-icons/${entity.icon}.ejs`) %>
    <small
      id="entity-name"
      class="pointer-events-none -mt-1 block max-w-full truncate text-center text-sm"
      ><%= entity.name %></small
    >
  </a>
  <% } else { %>
  <div
    class="entity-container flex w-[130px] cursor-default flex-col items-center rounded-md p-2 group-hover:bg-zinc-900 active:bg-zinc-700"
  >
    <%- include(`entity-icons/${entity.icon}.ejs`) %>
    <small
      id="entity-name"
      class="pointer-events-none -mt-1 block max-w-full truncate text-center text-sm"
      ><%= entity.name %></small
    >
  </div>
  <% } %>
</div>
